.tab-list {
    background-color: indianred;
    border-bottom: 1px solid indianred;
    padding-left: 0;
}

.tab-list-item {
    background-color: indianred;
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    padding: 0.5rem 0.75rem;
    color: white
}

.tab-list-active {
    background-color: indianred;
    border: solid indianred;
    border-width: 1px 1px 0 1px;
}